KEDRA_MONGO_URI=mongodb://ingest_admin:ingest_admin@localhost:27017/?authSource=admin
KEDRA_LANDING_DB=landing_zone
KEDRA_TRANSFORMED_DB=transformed
KEDRA_META_DB=meta

KEDRA_MINIO_ENDPOINT=localhost:9000
KEDRA_MINIO_ACCESS_KEY=minioadmin
KEDRA_MINIO_SECRET_KEY=minioadmin
KEDRA_MINIO_SECURE=false
KEDRA_LANDING_BUCKET=landing-zone
KEDRA_TRANSFORMED_BUCKET=transformed

KEDRA_LOG_LEVEL=INFO
